[
    {lager, [
        {handlers, [
            {lager_console_backend, [{level, info}]},
            {lager_file_backend, [{file, "log/openpixie.log"}, {level, info}, {size, 10485760}, {date, "$D0"}, {count, 5}]}
        ]},
        {error_logger_redirect, true}
    ]},
    {openpixie, [
        {ollama_host, "http://localhost:11434"},
        {ollama_model, <<"glm-5:cloud">>},
        {http_port, 8080},
        {idle_timeout_minutes, 30},
        {permission_mode, ask},
        {max_llm_concurrency, 1},
        {circuit_breaker_failures, 5},
        {circuit_breaker_cooldown_ms, 30000},
        {llm_timeout_ms, 120000},
        {max_context_tokens, 32768},
        {workspace, "."}
    ]}
].